{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/merchstyle.css' %}">
{% endblock extrahead %}
{% block content %}
<h1 class="form-heading">
        {% trans "Change Password" %}
</h1>
<div class="form-container">
    <p>
    {% url 'account_change_password' as action_url %}
</p>
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
        <button id="submit" type="submit">
                {% trans "Change Password" %}
            </button>
            {% endelement %}
            <button id="submit" type="submit"></button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </button>
        {% endslot %}
    {% endelement %}
</div>
{% endblock content %}
