* {
    font-family: 'Times New Roman', Times, serif;
}

/* Navbar styling */
.navbar {
    background-color: #fff;
    height: 125px;
    margin: 10px;
    border-radius: 50px;
    padding: 0.3rem;
}

.navbar-brand,
.offcanvas-title {
    font-weight: 800;
    color: #ff33a0;
    font-size: 45px;
    transition: 0.3s background-color;

}


.sign-up, .sign-in {
    background-color: #ff33a0;
    color: white;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 60px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin: 0;
}
.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 2px;
    background-color: #ff33a0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}
.sign-up:hover, .sign-in:hover {
    background-color: #333;
    color: white;
}

.navbar-toggler {
    border: none;
    font-size: 1.25em;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 400;
    position: relative;
    font-size: large;
}

.nav-link:hover,
.nav-link.active {
    color: #ff33a0;
}

/*Hero section*/
#hero-section {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #ffffff;
    min-width: 90%;
}
.text-wrapper h1,
.text-wrapper p
 {
   text-align : center;
   font-size: large;
}

.text-wrapper h1 {
    font-size: x-large;
    font-weight: 800;
}



/*Main*/
main {
    width: 100%;
    height: 100vh;
}

/*footer*/
footer.container {
    height: 80px;
    position: fixed;
}



/*Moblie*/
@media screen and (min-width: 320px) and (max-width: 500px) {

    .navbar-toggler {
        margin-left: 16px;
    }

    .container h1.text-center {
        margin-top: 50%;
    }

}

/*Tablet*/
@media screen and (min-width: 510px) {
    .navbar {
        height: 125px;
        margin: 10px;
    }

    .container h1.text-center {
        margin-top: 20%;
    }

    .text-container {
        top: 50%;
        left: 50%;
    }
    .text-wrapper h1,
    .text-wrapper p
     {
       font-size: large;
    }
    .text-wrapper h1 {
        font-size: xx-large;
    }
}

/*Laptop and Desktop*/
@media screen and (min-width: 991px) and (max-width: 1300px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: #ff33a0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

    .container h1.text-center {
        margin-top: 15%;
    }
    .text-container {
        max-width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .container h1.text-center {
        margin-top: 5%;
    }

    .text-container {
        max-width: 40%;
    }
}