{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/merchstyle.css' %}">
{% endblock %}

{% block content %}
<h1 class="form-heading">Contact Form</h1>
<div class="form-container">
    <form class="form" method="post" action="" style="color: blueviolet; font-size: larger;">
        {% csrf_token %}
        <div>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div >
            {{ form.subject.label_tag }}
            {{ form.subject }}
        </div>
        <div>
            {{ form.message.label_tag }}
            {{ form.message }}
        </div>
        <br>
        <button id="submit" type="submit">Submit</button>
    </form>
    
</div>







{% endblock %}