{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
{% endblock %}
{% block content %}
<div id="hero-section"style="background-image: url('{% static "images/hero.jpg" %}');" alt="hero image of the garden" >
    <div class="text-container">
        <div class="text-wrapper">
            <h1>Welcome</h1>
            <p>Welcome to "Hell's Paradise," your ultimate destination for all things anime! Dive into the
                captivating world of one of the top-shown anime series, with Season 2 on the horizon. From
                in-depth
                character introductions to engaging quizzes and personalised recommendations, our blog offers a
                haven where you can immerse yourself in sheer happiness. Join us as we explore the depths of
                this
                thrilling universe and discover the endless wonders it has to offer.</p>
        </div>
    </div>
</div>
{% endblock %}
